*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-section {
  margin-top: 2rem;
  padding: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* overflow-y: hidden; */
  align-self: center;
  height: 52vh;
  margin-bottom: 7rem;
  width: 100%;
  margin-left: 2rem;
}

.review-card {
  display: flex;
  gap: 1rem 2rem;
  margin: 2rem;
}

.review-header {
  display: flex;
  justify-content: space-between;
}
h3 {
  color: rgb(45, 85, 204);
}

.profile {
  box-sizing: border-box;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
  height: 2rem;
  width: 2rem;
  background-color: green;
  border-radius: 50%;
}

.review-msg-box {
  max-width: 85%;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.type-box-form {
  gap: 0;
  overflow-x: auto;
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 1rem;
  position: fixed;
  align-self: flex-end;
  border: 1px solid black;
  padding: 0 1rem;
  border-radius: 1rem;
  /* overflow-x: hidden; */
}

.type-box-div {
  padding: 1rem;
  margin: 0;
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.type-topic,
.type-review {
  height: fit-content;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.type-topic {
  font-size: 1rem;
}

.type-review {
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

.type-send {
  position: relative;
  margin: 0;
  justify-self: flex-end;
  color: black;
  width: 4vw;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.read-more {
  border: none;
  background-color: transparent;
  color: #96b8fa;
  cursor: pointer;
}
