* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main1{
display: flex;
flex-direction: row;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: smooth;
  
}

.content {
    margin-top: 15vh;
    z-index: 4;
    color: aliceblue;
    margin-left: 50px;
}

.content h1 {
    font-size: 4rem;

}


.content h3 {
    font-size: 2rem;
}

.main button {
    margin: 30px;
    cursor: pointer;
    margin-left: 50px;
}
.min img{
    width: 30vw;
    height: 50vh;
  z-index: 6;
}
.min{
    top: 50px;
   
    display: inline;
   margin-left:70vw;
}
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 700px;
    
    border: 1px solid #d0d5dd;
    background-color: rgba rgb(216 184 184 / 29%);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
        backdrop-filter: blur(15px);
    border-radius: 8px;
    margin: 10px;
}

.search-icon {
    font-size: 16px;
    color: #667085;
    cursor: pointer;
}

.search-input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f1f1f1;
}

.search-input::placeholder {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}