*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main {
    height: fit-content;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.discussion-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.discussion-title {
    font-size: 1.6rem;
    text-align: center;
  }
  
  @media (max-width: 670px) {
  .section{
      width: 90%;
  }
  
    .title {
      color: black;
      font-size: 1.1rem;
    }
  }
  
  .underline {
    width: 10rem;
    background-color: rgb(96, 96, 220);
    margin-left: auto;
    margin-right: auto;
    height: 0.4rem;
  }
  
  .btn-container {
    align-self: center;
    max-width: 90%;
    /* overflow: auto; */
    white-space: nowrap;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow-x: auto;
    /* max-width: 100%; */
    margin: 1rem;
    white-space: nowrap;
  }
  .filter-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    color: rgb(100, 121, 192);
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 0.5rem;
  }
  .filter-btn:hover {
    background: #96b8fa;
    color: white;
  }

.search {
    width: 40%;
}

 