.nav {

    /* .card {
           
            background-color: rgba(255, 255, 255, .45);
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, .25);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
            backdrop-filter: blur(15px);
        }*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: rgba rgb(216 184 184 / 29%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    /* background: #191919; */

    padding:5px 112px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


.nav img {
    width: 80px;
    height: 50px;
}
#log{
    font-size: 25px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    text-decoration: none;
}
.nav-links .avtar{
    cursor: pointer;
}


.nav-links:hover {
    color: #603068 ;
}

.nav-link {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    
    font-size: 20px;
    line-height: 133%;
    color: rgb(98 150 253);
    transition: 0.2s;
    text-decoration: none;
    list-style: none;
}
.nav-link:hover{
   
  border:1px solid rgb(1 59 213);
  border-radius: 5px;
  background-color: rgb(1 59 213);
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav-acitve {
    color: rgb(1 59 213) !important;
font-weight: bold;
font-size: 30px;
}

button {
height: 20px;
    background: none;
    font-size: 15px;
    border: none;
    color: white;
}

.menu-icon {
    display: none;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;


}

@media (max-width:700px) {
    .nav-btn {
        display: inline-block;
    }

    .nav {
        padding: 18px 15vw;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: #191919;
        transition: 1s;
        transform: translateY(-100vh);


    }

    .responsive_nav {
        transform: none;
    }

    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}